@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');

*{
    box-sizing: border-box;
}

body{
    background-image: url(/images/mountains.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 3rem;
}

.countdown-container{
    display: flex; 
    text-align: center;
    justify-content: center;
    flex-wrap: wrap;
}

.countdown-container--big-text{
    font-size: 6rem;
    line-height: 1;
    margin: 0rem 2rem;
    text-align: center;
    font-weight: bold;

}

span{
    font-weight: bold;
}




